@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body{ 
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}

$themes: (
  light: (
    navBar: rgb(6, 153, 245),
    navSide: rgb(6, 153, 245),
    rightBar: rgb(6, 153, 245),
    followBtn: rgb(6, 153, 245),
    leftBarText: whitesmoke,
    topNavText: whitesmoke,
    textColor: black,
    bg: white,
    logo: white,
    bgSoft: #f6f3f3,
    textColorSoft: #555,
    border: rgb(119, 221, 233),
  ),
  dark: (
    followBtn: #6899ee,
    topNavText: whitesmoke,
    leftBarText: whitesmoke,
    navBar: #2e3b52,
    navSide: #2e3b52,
    rightBar: #2e3b52,
    textColor: whitesmoke,
    bg: #2e3b52,
    logo: white,
    bgSoft: #495763,
    textColorSoft: lightgray,
    border: #4b545a,
  ),
);

@mixin themify($themes) {
  @each $theme, $map in $themes {
    .theme-#{$theme} & {
      $theme-map: () !global;
      @each $key, $submap in $map {
        $value: map-get(map-get($themes, $theme), "#{$key}");
        $theme-map: map-merge(
          $theme-map,
          (
            $key: $value,
          )
        ) !global;
      }

      

      @content;
      $theme-map: null !global;
    }
  }
}

@function themed($key) {
  @return map-get($theme-map, $key);
}

@mixin mobile {
  @media (max-width: 480px) {
    @content;
  }
}
@mixin tablet {
  @media (max-width: 960px) {
    @content;
  }
}